---
interface Props {
	id: number,
}

const { id} = Astro.props;
---


<div class="px-4 flex flex-col justify-center animate-fadeInUp aspect-square size-[40vw] lg:size-[20vw] bg-gradient-to-br from-cyan-900 to-cyan-950 border-2 border-cyan-700 rounded-md shadow-xl">
	<div class="font-extrabold text-3xl text-white">#{id}</div>
	<div class="font-extrabold text-3xl text-white">TITLE</div>
	<div class="font-extrabold text-3xl text-white">#{id}</div>
</div>




