---
import Station from "./Station.astro";

---




<div class="h-fit">
    <div class="relative w-[100%] h-fit">
        <Station x="45%" y="95%" id={1}/>
        <Station x="60%" y="80%" id={2}/>
        <Station x="33%" y="65%" id={3}/>
        <Station x="61%" y="48%" id={4}/>
        <Station x="32%" y="32%" id={5}/>
        <Station x="62%" y="19%" id={6}/>
        <div class="w-full flex flex-row justify-center">
            <img src="/Human-Computer-Interaction/path.png" class= "" />
        </div>
    </div>
</div>