---
interface Props {
	assignment: number;
	title: string;
	description: string;
	date: string;
	href?: string;
	right?: boolean;
}

const { assignment, title, description, date, href, right} = Astro.props;
---


<div class="relative flex flex-row w-[100%] transition-all duration-300 hover:cursor-pointer h-28">
	<div class="absolute rounded-full right-[50%] bg-zinc-800 border-2 border-zinc-300 top-[50%] h-[10%] aspect-square translate-x-1/2 -translate-y-1/2"/>
	<div class="absolute bg-zinc-200 rounded-md shadow-md shadow-black p-8 h-28" style={{right: `${!right && 50}%`, left: `${right && 50}%`,clipPath: `${right && "polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%)" || !right && "polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%)"}`}}>
		<div class="w-full h-full flex flex-col justify-center ">
			<div class="font-medium"><span class="font-extrabold">#{assignment}</span> {title}</div>
		</div>
	</div>
</div>	
