---
---

<div class="w-[300px] min-h-[40px] bg-gradient-to-br from-blue-900/40 to-blue-800/80 rounded-md shadow-md shadow-black border-white/20 border-2 animate-bounce">
    <div class="w-full h-full text-center text-white font-medium">
        Lorem Ipsum I don't know
    </div>
</div>