---
---

<div class="flex w-full justify-center border-white border-b z-40">
    <div class="h-[50vh] max-h-[750px] w-full bg-easyblue flex flex-col justify-center items-center">
        <strong class="text-8xl inline-block bg-clip-text px-4 pb-2 font-body text-transparent bg-gradient-to-r from-white to-gray-400 italic">Easy</strong>
        <strong class="text-7xl inline-block bg-clip-text px-4 pb-2 font-body text-transparent bg-gradient-to-r from-white to-gray-400">Board</strong>
        <div class="animate-fadeInUp text-white font-semibold">
            Know your crowd,
            Find your cloud!
        </div>
    </div>
</div>