---
const embedUrl = "https://embed.figma.com/proto/PiMkJ0GB43I0w1FKT7BdQc/The-Benchers---EasyBoard?node-id=1-11&starting-point-node-id=1%3A11&embed-host=share"; // Replace with your actual Figma prototype link
---
<section id="prototype" class="w-full h-screen my-8">
  <iframe 
    src={embedUrl} 
    allowfullscreen 
    class="border-0 h-full w-full bg-transparent">
  </iframe>
</section>  


