---
---

<footer class="min-h-[50vh] bg-[#051c26] shadow-inner">
    <div class="container mx-auto py-10 text-center text-gray-400 px-24">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- Section 1: Logo and Description -->
        <div class="w-full flex flex-col items-center">
          <img src="/Human-Computer-Interaction/favicon.png" class="w-32 p-4 aspect-square"/>
          <p class="text-sm">Migliorando la vostra esperienza di viaggio con l'aiuto dell'AI.</p>
          <p class="text-sm">Know the crowd, Find your cloud!</p>
        </div>
        
        <!-- Section 2: Quick Links -->
        <div>
          <h2 class="text-xl font-semibold mb-4">Quick Links</h2>
          <ul class="space-y-2">
            <li><a href="../Human-Computer-Interaction" class="hover:text-gray-400">Home</a></li>
            <li><a href="../Human-Computer-Interaction#prototype" class="hover:text-gray-400">Prototipo</a></li>
            <li><a href="../Human-Computer-Interaction#timeline" class="hover:text-gray-400">Timeline</a></li>
            <li><a href="../Human-Computer-Interaction/contact-us" class="hover:text-gray-400">Contatti</a></li>
          </ul>
        </div>
        
        <!-- Section 3: Contact Information -->
        <div>
          <h2 class="text-xl font-semibold mb-4">Find Us</h2>
          <p class="text-sm">Politecnico di Milano</p>
          <p class="text-sm">Piazza Leonardo da Vinci, 32</p>
          <p class="text-sm">20133 Milano</p>
        </div>
      </div>
  
      <hr class="my-8 border-gray-600">
  
      <p class="text-sm text-gray-400">&copy; 2024 EasyBoard. All Rights Reserved.</p>
    </div>
  </footer>
  