---
---

<div class="flex w-full justify-center">
    <div class="h-fit w-full bg-easyblue flex flex-col justify-center items-center">
        <section class="flex w-full justify-center">
            <div class="pt-5 pb-20 px-4 mx-auto max-w-screen-md">
                <h2 class="font-bold mb-4 px-4 bg-gradient-to-l from-white to-cyan-500 bg-clip-text text-center leading-snug -tracking-4 text-transparent text-4xl animate-fadeInUp">Contattaci</h2>
                <p class="mb-6 sm:text-xl text-white font-light leading-loose px-6 w-fill text-xl text-center animate-fadeInUp">Avete trovato un problema tecnico? Volete inviare un feedback sulla nostra applicazione? Fateci sapere.</p>
                <form action="#" class="space-y-8 animate-fadeInUp">
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">La tua email</label>
                        <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="nome@mail.com" required>
                    </div>
                    <div>
                        <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Soggetto</label>
                        <input type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Facci sapere come possiamo aiutarti!" required>
                    </div>
                    <div class="sm:col-span-2">
                        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Il tuo messaggio</label>
                        <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Scrivi un commento..."></textarea>
                    </div>
                    <div class="flex w-full h-fit justify-center">
                        <button type="submit" class="py-3 px-5 z -40 text-sm font-medium text-center text-white rounded-lg bg-cyan-700 sm:w-fit hover:bg-cyan-900 focus:ring-2 focus:outline-none focus:ring-cyan-300 transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300">
                            Invia il messaggio!
                        </button>
                    </div>
                </form>
            </div>
          </section>
    </div>
</div>