---
---



<div class="w-full bg-cyan-950 flex flex-row gap-8 justify-start text-white font-semibold items-center py-8 px-8 md:text-sm lg:text-xl overflow-hidden">
    <a href="#prototype">Prototype</a>
    <a href="#about">About</a>
    <a href="#timeline">Timeline</a>
    <div>Contacts</div>
</div>