---
---



<div class="w-full bg-cyan-950 flex flex-row gap-8 justify-center text-white font-semibold items-center py-8 px-8 md:text-sm lg:text-xl overflow-hidden">
    <a href="https://weridfire.github.io/Human-Computer-Interaction">Home</a>
    <a href="../Human-Computer-Interaction#prototype">Prototipo</a>
    <a href="../Human-Computer-Interaction#timeline">Timeline</a>
    <a href="../Human-Computer-Interaction/contact-us">Contatti</a>
</div>