---
---



<div class="w-full bg-cyan-950 flex flex-row gap-8 justify-start text-white font-semibold items-center py-8 px-8 text-xl">
    <div>Home</div>
    <div>Assignments</div>
    <div>Contacts</div>
</div>