---
import Testimonial from "./Testimonial.astro"
---




<div class="w-full bg-white flex flex-row gap-2 justify-center">
    <Testimonial name="User1" review="I had a really good experience with EasyBoard. I can finally enjoy a ride without having to stress about where to sit of overcrowded areas."/>
    <Testimonial name="User1" review="I had a really good experience with EasyBoard. I can finally enjoy a ride without having to stress about where to sit of overcrowded areas."/>
    <Testimonial name="User1" review="I had a really good experience with EasyBoard. I can finally enjoy a ride without having to stress about where to sit of overcrowded areas."/>
    <Testimonial name="User1" review="I had a really good experience with EasyBoard. I can finally enjoy a ride without having to stress about where to sit of overcrowded areas."/>

</div>