---
interface Props {
	assignment: number;
	title: string;
	description: string;
	date: string;
	href?: string;
	right?: boolean;
}

const { assignment, title, description, date, href, right} = Astro.props;
---


<div class="relative flex flex-row w-[100%] transition-all duration-300 hover:cursor-pointer h-28">
	<div class="absolute rounded-full right-[50%] bg-zinc-800 border-2 border-zinc-300 top-[50%] h-[10%] aspect-square translate-x-1/2 -translate-y-1/2"/>
	{ right &&
	<div class="absolute animated-date-right right-[50%] top-[50%] text-center font-extrabold text-white text-xl opacity-0 -z-10"
		style={{transform: "translate(50%, -50%) rotate(-90deg)"}}>{date}</div>
	}

	{ !right &&
	<div class="absolute animated-date-left right-[50%] top-[50%] text-center translate-y-1/2 font-extrabold text-white text-xl opacity-0 -z-10"
		style={{transform: "translate(50%, -50%) rotate(90deg)"}}>{date}</div>
	}
	<div class="absolute bg-zinc-200 rounded-md shadow-md shadow-black p-8 w-[40%] h-28" style={{right: `${!right && 50}%`, left: `${right && 50}%`,clipPath: `${right && "polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%)" || !right && "polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%)"}`}}>
		<div class="w-full h-full flex flex-col justify-center ">
			<div class="font-medium"><span class="font-extrabold">#{assignment}</span> {title}</div>
		</div>
	</div>
</div>

<script is:inline>
    window.addEventListener('load', () => {
        const dateR = document.getElementsByClassName('animated-date-right')[0];
		const dateL = document.getElementsByClassName('animated-date-left')[0];
		if(dateR != null){
			
			dateR.style.transition = 'all 2000ms ease-in-out';
        	dateR.style.opacity = '0.6'; // Changing opacity from 0 to 80%
			dateR.style.transform = "translate(30%, -50%) rotate(-90deg) scale(150%)";
		}

		if(dateL != null){
			
			dateL.style.transition = 'all 2000ms ease-in-out';
        	dateL.style.opacity = '0.6'; // Changing opacity from 0 to 80%
			dateL.style.transform = "translate(70%, -50%) rotate(90deg) scale(150%)";
		}
	});
</script>
