---
---

<div class="w-full font-extrabold text-8xl text-center">
    <span class="text-black/50 py-8">Easy</span>
    <span class="text-transparent bg-clip-text bg-gradient-to-br from-green-400 to-green-600">Board</span>
</div>