---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="The Benchers repo for HCI course 2024-2025 Polimi" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/Human-Computer-Interaction/bench.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gradient-to-br from-zinc-700 to-zinc-800 h-full flex flex-col items-center py-8">
		<slot /> 
	</body>
</html>