---
import Layout from '../layouts/Layout.astro';
import Branding from '../components/Branding.astro';
import Process from "../components/Process.astro";
import AppPreview from "../components/AppPreview.astro";
import NavigationBar from "../components/NavigationBar.astro";
import Paragraph from "../components/Paragraph.astro";
import Timeline from '@components/Timeline/Timeline';
import FigmaEmbed from '@components/FigmaEmbed.astro';
import Footer from '@components/Footer.astro';
const allPosts = await Astro.glob("../pages/assignments/*.mdx");

---

<Layout title="EasyBoard">
	<div class="w-full flex flex-col justify-center gap-[2px] bg-easyblue">
		<NavigationBar />
		<Branding />
		<AppPreview />
		<FigmaEmbed />
		<section id="about">
			<Paragraph />
			<Paragraph inverted img="/Human-Computer-Interaction/info.jpg"/>
		</section>
		<Paragraph img="/Human-Computer-Interaction/favicon.png"/>
		<section id="timeline">
			<Timeline client:load allPosts={JSON.stringify(allPosts)} />
		</section>
		<Footer />
	</div>
</Layout>
