---
import Layout from '../layouts/Layout.astro';
import Branding from '../components/Branding.astro';
import Process from "../components/Process.astro";
import AppPreview from "../components/AppPreview.astro";
import NavigationBar from "../components/NavigationBar.astro";
import Paragraph from "../components/Paragraph.astro";
import Timeline from '@components/Timeline/Timeline';
const allPosts = await Astro.glob("../pages/assignments/*.mdx");

---

<Layout title="EasyBoard">
	<NavigationBar />
		<div class="w-full flex flex-col justify-center gap-[2px] bg-easyblue">
			<Branding />
			<AppPreview />
			<Paragraph />
			<Paragraph inverted img="/Human-Computer-Interaction/info.jpg"/>
			<Paragraph img="/Human-Computer-Interaction/favicon.png"/>
			<Timeline client:load allPosts={JSON.stringify(allPosts)} />
		</div>
</Layout>
