---
import Layout from '../layouts/Layout.astro';
import Branding from '../components/Branding.astro';
import TestimonialsList from '../components/TestimonialsList.astro';
import Process from "../components/Process.astro";
import AppPreview from "../components/AppPreview.astro";
---

<Layout title="EasyBoard">
	<div class="w-full flex flex-col justify-center">
		<Branding />
		<AppPreview />
		<Process />
		<TestimonialsList />
	</div>
</Layout>
