---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Timeline from '../components/Timeline.astro';
import Clouds from "../components/Clouds.jsx";
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="max-w-[300px] flex flex-col gap-4 items-center">
			<div class="w-full text-center font-bold text-6xl text-white">
				The <span class="bg-gradient-to-r from-blue-400 to-blue-600 inline-block text-transparent bg-clip-text font-extrabold">Benchers</span>
			</div>
			<About />
			<Clouds client:load/>
			<Timeline />
		</div>
	</main>
</Layout>
